/* 1. don't modify this style */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
    --secondary: #FA8305;
    --primary-100: #5141AA;
    --black: #070707;
    --box_bg: #1C140F;
    --primary: #3B2A9F;
}

li, ul, article {
    display: inline-block;
    padding: 0;
}


.all2 {
    font-family: Poppins;
    background-color: var(--primary);
    width: 1440px;
    color: #FFFFFF;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}

.logo {
    display: inline-block;
    font-size: 29px;
    font-weight: 800;
    margin-top: 25px;
    margin-left: 59px;
    margin-bottom: 30px;
}

.home {
    padding: 0;
    display: inline-block;
    font-size: 16px;
    margin-left: 560px;
}

div, p, h1, img, footer, main, header {
    padding: 0;
}

.pageTheme {
    display: inline-block;
    background-color: var(--secondary);
    width: 132px;
    height: 41px;
    border-radius: 6px;
    font-size: 13px;
    margin: 28px 59px 27px 32px;
}

.othersInHead {
    margin-top: 40px;
    display: inline-block;
    font-size: 16px;
    margin-left: 88px;
}

header {
    width: 100%;
}

.theme {
    margin: 10px 55px 11px;
    line-height: 20px;
}

#headerS1 {
    position: absolute;
    top: 70px;
    left: 840px;
    background-color: var(--secondary);
    border-radius: 20px;
    width: 38px;
    height: 4px;


}

#headerS2 {
    position: absolute;
    top: 70px;
    left: 880px;
    background-color: var(--secondary);
    border-radius: 20px;
    width: 5px;
    height: 4px;


}


.mainClass {
    width: 1140px;
}

.div1 {
    width: 527px;
    height: 510px;
    margin: 103px 0 180px 148px;
}

.pInDiv1 {
    font-size: 13px;
    font-weight: 330;
    color: var(--secondary);
    margin-bottom: 38px;
}

.pInDiv1 > span {
    color: #FFFFFF;
}

.hDiv1 {
    width: 480px;
    height: 234px;
    margin-top: 17px;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 700;
}

.p2Div1 {
    padding: 0;
    width: 527px;
    height: 110px;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
}


.more {
    width: 195px;
    height: 53px;
    margin-top: 48px;
    background-color: var(--secondary);
    border-radius: 30px;
}

.touch {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 14px;
    margin-left: 20px;
    text-decoration: none;
    text-align-all: center;
    color: #FFFFFF;
}

#arrow {
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-top: 19px;
    margin-left: 150px;

}

#myImg1 {
    position: absolute;
    width: 739px;
    height: 656px;
    top: 121px;
    left: 701px;

}

#centDiv1 {
    font-size: 25px;
    font-weight: 590;
    margin-left: 135px;
    margin-bottom: 60px;
    color: #FFFFFF;
}

.centDivInGame {
    display: inline-block;
    width: 370px;
    height: 348px;
    border-radius: 20px;
    background-color: var(--box_bg);
    margin-left: 40px;

}

#centDivInGame1 {
    margin-left: 135px;
}

#centDivInGame2 {
    position: absolute;
}

.pInCentDiv {
    width: 140px;
    height: 39px;
    margin-left: 37px;
    margin-top: 60px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 350;
    padding: 12px;
    background-color: #B000DC1C;

}


#centerDivGame {
    width: 1440px;
    height: 603px;
    margin-top: 140px;
    background-color: var(--box_bg);
}

#imgInCentDivGame {
    display: inline-block;
    width: 496px;
    height: 490px;
    border-radius: 24px 24px 0 0;
    margin-top: 110px;
    margin-left: 110px;
}

#centerDivGame1 {
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    top: -110px;
    left: 90px;
    height: 470px;
}

#p1centerDivGame {
    font-size: 16px;
    font-weight: 470;
    margin-bottom: 14px;
    letter-spacing: 1px;

}

#p2centerDivGame {
    width: 530px;
    height: 150px;
    font-size: 28px;
    font-weight: 570;
    margin-bottom: 14px;
    letter-spacing: 1px;

}

#p3centerDivGame {
    width: 530px;
    height: 160px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;

}

.textDiv {
    margin-left: 35px;
    color: #FFFFFF;
}

.p1TextDiv {
    height: 40px;
    font-size: 20px;
    font-weight: 550;
    line-height: 56px;
    text-align: left;
    margin-bottom: 32px;
    margin-top: 10px;

}

.p2TextDiv {
    width: 305px;
    height: 101px;
    font-size: 14px;
    font-weight: 350;
    line-height: 30px;
    text-align: left;

}

#p2InCentDiv {
    background-color: #DC42001C;
}

#p3InCentDiv {
    background-color: #00DC8D1C;

}

#ourTeam {
    font-size: 25px;
    font-weight: 600;
    margin-top: 140px;
    margin-left: 110px;
}

.avatarDiv {
    display: inline-block;
    width: 290px;
    height: 253px;
    border-radius: 20px;
    background-color: var(--box_bg);
    margin-left: 25px;
    margin-top: 50px;
}

#avatarDiv1 {
    margin-left: 105px;
}

.imgAvatarDiv {
    width: 123px;
    height: 123px;
    margin-top: 30px;
    margin-left: 85px;
}

.p1avatarDiv {
    font-weight: 550;
    font-size: 19px;
    text-align: center;
}

.p2avatarDiv {
    font-weight: 230;
    font-size: 17px;
    color: #E8E8E8;
    text-align: center;
}

#imgAvatarDiv1 {
    width: 90px;
    height: 90px;
    margin: 43px 0 16px 100px;
}

#avatarDiv2 {
    position: absolute;
}

.lastTextDiv {
    margin-left: 130px;
    margin-top: 155px;
}

.p1lastTextDiv {
    font-size: 30px;
    font-weight: 570;

}

.p2lastTextDiv {
    width: 545px;
    height: 57px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 370;
}

#formDiv {
    width: 1140px;
    height: 191px;
    margin: 74px 0 163px 130px;
    background-color: var(--box_bg);
    border-radius: 15px;

}

.formDivPart1 {
    display: inline-block;
}

#stayLoopTitle {
    display: block;
    font-size: 30px;
    font-weight: 450;
    line-height: 45px;
    text-align: left;
    margin: 40px 0 10px 55px;

}

#stayLoopText {
    display: block;
    width: 600px;
    height: 52px;
    font-size: 17px;
    font-weight: 350;
    line-height: 26px;
    text-align: left;
    margin: 0 0 40px 55px;
}

.form {
    position: absolute;
    top: 3010px;
    left: 807px;
    display: inline-block;
    width: 380px;
    height: 48px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin: 0 0 1970px 40px;


}

#textInForm {
    display: inline-block;
    width: 150px;
    margin: 14px 0 0 15px;
    font-size: 13px;
    font-weight: 250;
    line-height: 20px;
    text-align: center;
    color: #898989;
}

#formBott {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    margin: 0 0 550px 270px;
    background-color: var(--secondary);

}

#continue {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 250;
    position: absolute;
    top: 7px;
    left: 17px;

}


footer {
    background-color: black;
    width: 100%;
    height: 376px;

}

#div1 {
    display: inline-block;
}

#footerLogo {
    position: relative;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    letter-spacing: 2px;

}

.textInFooter {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

#footerLorem {
    position: relative;
    top: 15px;
    width: 372px;

}

#footerAtLogo {
    position: relative;
    top: 50px;

}

.div3 {
    display: inline-block;
    top: 4170px;
}

.myUl {
    font-size: 17px;
    font-weight: 500;
    text-align: left;

}

.myLi1 {
    margin-top: 20px;
}

.myLi {
    display: block;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 29.81px;


}

.div3 > .myUl > .myLi {
    width: 282px;
}


#leftFooter {
    display: flex;
    position: relative;
    top: 80px;
    gap: 80px;
    left: 101px;
}

#externalLink {
    position: relative;
    top: 120px;
    width: 280px;
    /*right: 0;*/

}

.appFave {
    display: inline-block;
    width: 60px;
    height: 60px;
}

#faceBook {
    position: absolute;
    top: 0;
    left: 0;
}

#instagram {
    position: absolute;
    top: 0;
    left: 50px;
}

#twitter {
    position: absolute;
    top: 0;
    left: 100px;
}

#linkedin {
    position: absolute;
    top: 0;
    left: 150px;
}

#footerEnd {
    border-top: 1px solid #D2D2D2;
    width: 100%;
    height: 40px;
    position: relative;
    bottom: -120px;
}

#footerEnd > p {
    padding: 30px 300px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid transparent;

}

#footerEnd > p > span {
    font-weight: 600;
    font-size: 14px;
}