/* 1. don't modify this style */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
    --secondary: #FA8305;
    --primary-100: #5141AA;
    --black: #070707;
    --box_bg: #1C140F;
    --primary: #3B2A9F;
}

.all {
    font-family: Poppins;
    background-color: var(--primary);
    width: 1440px;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}

.logo {
    display: inline-block;
    font-size: 29px;
    font-weight: 800;
    margin-top: 25px;
    margin-left: 59px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.home {
    padding: 0;
    display: inline-block;
    font-size: 16px;
    margin-left: 560px;
    color: #FFFFFF;
}

div, p, h1, img {
    padding: 0;
}

.pageTheme {
    display: inline-block;
    background-color: var(--secondary);
    width: 132px;
    height: 41px;
    border-radius: 6px;
    font-size: 13px;
    margin: 28px 59px 27px 32px;
}

.othersInHead {
    margin-top: 40px;
    display: inline-block;
    font-size: 16px;
    margin-left: 88px;
    color: #FFFFFF;
}

.theme {
    margin: 10px 55px 11px;
    line-height: 20px;
    color: #FFFFFF;
}

.div1 {
    width: 527px;
    height: 510px;
    margin: 103px 98px 180px 148px;
}

.pInDiv1 {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary);
}

.hInDiv1 {
    width: 480px;
    height: 234px;
    margin-top: 17px;
    margin-bottom: 26px;
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

.p2InDiv1 {
    width: 527px;
    height: 110px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.mainClass {
    width: 1140px;
}

.more {
    width: 195px;
    height: 53px;
    margin-top: 48px;
    background-color: var(--secondary);
    border-radius: 30px;
}

.moreText {
    display: inline-block;
    width: 134px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 15px 31px 15px 30px;
    color: #FFFFFF;
    text-decoration: none;
    text-align-all: center;
}

.firstImgBox {
    position: absolute;
}

#img1 {
    top: 409px;
    left: 650px;
}

#img2 {
    width: 806px;
    height: 761px;
    position: absolute;
    left: 772px;
    top: 100px;

}

#img3 {
    top: 202px;
    left: 828px;
}

#img4 {
    top: 218px;
    left: 1168px;
}

#centerDiv1 {
    display: inline-block;
    width: 404px;
    height: 58px;
    margin: 180px 443px 57px 148px;
    font-family: Rubik;
    font-size: 31px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;

}

.centerDiv2 {
    display: inline-block;
    width: 139px;
    height: 57px;
    margin-top: 132px;
    margin-bottom: 58px;
    border-radius: 10px;
    background-color: var(--primary-100);

}

.seeAll {
    display: inline-block;
    width: 79px;
    height: 38px;
    margin: 10px 30px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    color: #FFFFFF;
}

#seeAll2 {
    margin: 35px 0 100px 650px;
}

.imgLine {
    display: inline-block;
    width: 218px;
    height: 245px;
    border-radius: 20px;
    margin-left: 33px;
    margin-bottom: 15px;
}

.imgLine:hover {
    opacity: 65%;
}

li, ul, article {
    display: inline-block;
    padding: 0;
}

#img5 {
    margin-left: 140px;

}

.followers {
    display: inline-block;
    margin-left: 5px;
    width: 170px;
    height: 41px;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    line-height: 41px;
    color: #FFFFFF;
    text-align: left;


}

#icon-container1 {
    display: inline-block;
    margin-left: 160px;

}

.icon-container {
    display: inline-block;
    margin-left: 45px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 20px;
    margin-left: 8px;
    transition: transform 0.6s; /* Add a smooth transition effect */

}

.icon-container:hover .icon {
    transform: scale(1.7); /* Enlarge the image on hover */
}

#centerP {
    width: 826px;
    height: 132px;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 500;
    line-height: 66px;
    text-align: center;
    margin: 129px 306px 67px 308px;

}

.lastTextDiv {
    margin-left: 140px;
    color: #FFFFFF;
}

.p1lastTextDiv {
    height: 40px;
    font-size: 32px;
    font-weight: 550;
    line-height: 56px;
    text-align: left;
    margin-bottom: 32px;

}

.p2lastTextDiv {
    width: 600px;
    height: 101px;
    font-size: 17px;
    font-weight: 350;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0.5px;

}

#rect4 {
    margin-left: 140px;
    border-radius: 5px;

}

#lastDiv {
    margin: 148px 0 0 120px;
    color: #FFFFFF;
    width: 1140px;
}

#p1lastDiv {
    margin-left: 115px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;

}

#p2lastDiv {
    width: 497px;
    height: 57px;
    margin-left: 380px;
    margin-bottom: 70px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;

}

.imgBox {
    display: inline-block;
    margin-left: 17px;
    margin-bottom: 15px;
}

.size1 {
    width: 33%;
}

#size2 {
    width: 28%;
}

#size3 {
    width: 20%;
}

#size4 {
    width: 35%;
}

#size5 {
    width: 39%;
}

#formDiv {
    width: 1140px;
    height: 191px;
    margin: 74px 0 163px 130px;
    color: #FFFFFF;
    background-color: var(--box_bg);
    border-radius: 15px;

}

.formDivPart1 {
    display: inline-block;
}

#stayLoopTitle {
    display: block;
    font-size: 30px;
    font-weight: 450;
    line-height: 45px;
    text-align: left;
    margin: 40px 0 10px 55px;

}

#stayLoopText {
    display: block;
    width: 600px;
    height: 52px;
    font-size: 17px;
    font-weight: 350;
    line-height: 26px;
    text-align: left;
    margin: 0 0 40px 55px;
}

.form {
    position: absolute;
    top: 3815px;
    left: 807px;
    display: inline-block;
    width: 380px;
    height: 48px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin: 0 0 1970px 40px;


}

#textInForm {
    display: inline-block;
    width: 150px;
    margin: 14px 0 0 15px;
    font-size: 13px;
    font-weight: 250;
    line-height: 20px;
    text-align: center;
    color: #898989;
}

#formBott {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    margin: 0 0 550px 270px;
    background-color: var(--secondary);

}

#continue {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 250;
    position: absolute;
    top: 7px;
    left: 17px;

}

#headerStyle1 {
    position: absolute;
    top: 70px;
    left: 690px;
    background-color: var(--secondary);
    border-radius: 20px;
    width: 38px;
    height: 4px;


}

#headerStyle2 {
    position: absolute;
    top: 70px;
    left: 730px;
    background-color: var(--secondary);
    border-radius: 20px;
    width: 5px;
    height: 4px;


}

footer {
    color: #FFFFFF;
    background-color: black;
    width: 1440px;
    height: 376px;

}

#div1 {
    display: inline-block;
}

#footerLogo {
    position: relative;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    letter-spacing: 2px;

}

.textInFooter {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

#footerLorem {
    position: relative;
    top: 15px;
    width: 372px;

}

#footerAtLogo {
    position: relative;
    top: 50px;

}

#div2 {
    display: inline-block;
    top: 4170px;
}

#div3 {
    display: inline-block;
    top: 4170px;
}

.myUl {
    font-size: 17px;
    font-weight: 500;
    text-align: left;

}

.myLi1 {
    margin-top: 20px;
}

.myLi {
    display: block;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 29.81px;


}

#div3 > .myUl > .myLi {
    width: 282px;
}

#headerStyle1 {
    position: absolute;
    top: 70px;
    left: 690px;
    background-color: var(--secondary);
    border-radius: 20px;
    width: 38px;
    height: 4px;


}

#headerStyle2 {
    position: absolute;
    top: 70px;
    left: 730px;
    background-color: var(--secondary);
    border-radius: 20px;
    width: 5px;
    height: 4px;


}

#leftFooter {
    display: flex;
    position: relative;
    top: 80px;
    gap: 80px;
    left: 101px;
}

#externalLink {
    position: relative;
    top: 120px;
    width: 280px;
    /*right: 0;*/

}

.appFave {
    display: inline-block;
    width: 60px;
    height: 60px;
}

#faceBook {
    position: absolute;
    top: 0;
    left: 0;
}

#instagram {
    position: absolute;
    top: 0;
    left: 50px;
}

#twitter {
    position: absolute;
    top: 0;
    left: 100px;
}

#linkedin {
    position: absolute;
    top: 0;
    left: 150px;
}

#footerEnd {
    border-top: 1px solid #D2D2D2;
    width: 100%;
    height: 40px;
    position: relative;
    bottom: -120px;
}

#footerEnd > p {
    padding: 30px 300px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid transparent;

}

#footerEnd > p > span {
    font-weight: 600;
    font-size: 14px;
}

/* good luck */